.development{
 
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: start;
   padding: 8rem;
   background-color: black;
   margin-top: 10rem;
}
.development .development-uppertext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8rem;
    width: fit-content;
   
}
.developdivider{
    width: 80%;
}

.development .development-uppertext h1{
    font-family: "Poppins", serif;
    font-weight: 800;
    font-size: 8rem;
    color: aliceblue;
    line-height: 9rem;
    padding-right: 5rem;
    width: 85%;
}
.development .development-uppertext p{
    color:aliceblue;
    font-weight: 275;
    font-family: "Poppins", serif;
    font-size: 2rem;
    width: 80%;
    margin-top: 2rem;
padding-right: 10rem;
}
.development .development-lowertext{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5rem;
}
.development .development-lowertext p{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 5rem;
    color: aliceblue;
    line-height: 9rem;
}

