.development {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    background-color: black;
    margin-top: 10rem;
    padding-bottom: 12rem;
  }
  .development .development-uppertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    overflow: hidden;
  }
  .developdivider {
    width: 100%;
  }
  
  .development .development-uppertext h1 {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-size: 6.5rem;
    line-height: 6rem;
    color: aliceblue;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .development .development-uppertext p {
    color: aliceblue;
    font-weight: 200;
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    width: 90%;
    margin-top: 2rem;
  }
  .development .development-lowertext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5rem;
    width: 80%;
  }
  .development .development-lowertext p {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 4rem;
    color: aliceblue;
    padding: 1rem 0;
    line-height: 4rem;
  }
  
  @media (max-width: 1200px) {
  
    .development .development-uppertext h1 {
      font-size: 6rem;
      line-height: 6rem;
    }
    .development .development-lowertext p {
      font-size: 3.4rem;
    }
    .development .development-uppertext p {
      font-weight: 200;
      font-size: 1.4rem;
    }
  }
  @media (max-width: 900px) {
  
    .development .development-uppertext h1 {
      font-size: 4.5rem;
      line-height: 5rem;
    }
    .development .development-lowertext p {
      font-size: 3.4rem;
    }
    .development .development-uppertext p {
      font-weight: 200;
      font-size: 1.4rem;
    }
  }
  @media (max-width: 700px) {
  
    .development .development-uppertext h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
    .development .development-lowertext p {
      font-size: 2.4rem;
      padding: .4rem;
    }
    .development .development-uppertext p {
      font-weight: 200;
      font-size: 1.4rem;
    }
  }
  @media (max-width: 560px) {
  
    .development .development-uppertext h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
    .development .development-lowertext p {
      font-size: 2rem;
      padding: .3rem;
    }
    .development .development-uppertext p {
      font-weight: 200;
      font-size: 1.2rem;
    }
  }