.menu-container{
    display: flex;
    position: fixed;
    min-width: 40rem;
    min-height: 50rem;
    background-color: #ffffffe8;
    backdrop-filter: blur(.5rem);
    right: 1.2rem;
    top: 1.4rem;
    border-radius: 1rem;
    transition: .4s ease-in;
    font-family: poppins;
}
.menu-container.not-active{
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    background-color: #ffffffe8;
}
.menu-wrapper{
    backdrop-filter: blur(.4rem);
    position: fixed;
    background-color: #00000042;
    height: 100%;
    width: 100%;
    z-index: 19;
    opacity: 1;
    transition: .5s;
}
.menu-wrapper.not-active{
    opacity: 0;
    z-index: 0;
}

.inner-content{
    padding: 4rem;    
    display: flex;
    flex-direction: column;
}
.inner-content.not-active{
    display: none;
}
.menu-links{
    margin-bottom: 2rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    opacity: 0;
    transition: .6s;
    transform: translateY(4rem);
}
.menu-links a{
    color: #000;
}
